<mat-toolbar color="primary">
  <img src="assets/angular-web-ble.png" />
  <span>IOT Boiler Project</span>
</mat-toolbar>

<div class="grid-container">
  <mat-grid-list cols="2" rows="2" rowHeight="300px">

    <!-- temperature -->

    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Temperature
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menuTemperature" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menuTemperature="matMenu" xPosition="before">
              <button mat-menu-item *ngIf="(temperature.device | async) === null" (click)="temperature.requestValue()">
                <mat-icon>bluetooth_searching</mat-icon>
                Connect
              </button>
              <button mat-menu-item *ngIf="(temperature.device | async)" (click)="temperature.disconnect()">
                <mat-icon>bluetooth_disabled</mat-icon>
                Disconnect
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle *ngIf="(temperature.device | async) as device">
            {{ device.name }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <ble-temperature #temperature></ble-temperature>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- pressure-->

    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Pressure Level
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menuPressure" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menuPressure="matMenu" xPosition="before">
              <button mat-menu-item *ngIf="(pressure.device | async) === null" (click)="pressure.requestValue()">
                <mat-icon>bluetooth_searching</mat-icon>
                Connect
              </button>
              <button mat-menu-item *ngIf="(pressure.device | async)" (click)="pressure.disconnect()">
                <mat-icon>bluetooth_disabled</mat-icon>
                Disconnect
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle *ngIf="(pressure.device | async) as device">
            {{ device.name }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <ble-pressure #pressure></ble-pressure>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- yield-->

    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title class="dashboard-title">
            Yield percentage
            <div *ngIf="yield.isAlert" class="alert-container">
              <mat-icon class="alarm-icon" color="warn">warning_amber</mat-icon>
              <h6 class="alert-text">Si prega di contattare l'assistenza</h6>
            </div>          
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menuYield" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menuYield="matMenu" xPosition="before">
              <button mat-menu-item *ngIf="(yield.device | async) === null" (click)="yield.requestValue()">
                <mat-icon>bluetooth_searching</mat-icon>
                Connect
              </button>
              <button mat-menu-item *ngIf="(yield.device | async)" (click)="yield.disconnect()">
                <mat-icon>bluetooth_disabled</mat-icon>
                Disconnect
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle *ngIf="(yield.device | async) as device">
            {{ device.name }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <ble-yield #yield></ble-yield>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- carbon-->

    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title class="dashboard-title">
            Carbon Monoxide Level ppm
            <div *ngIf="carbon.isAlert" class="alert-container">
              <mat-icon class="alarm-icon" color="warn">warning_amber</mat-icon>
              <h6 class="alert-text">Si prega di contattare l'assistenza</h6>
            </div>   
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menuCarbon" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menuCarbon="matMenu" xPosition="before">
              <button mat-menu-item *ngIf="(carbon.device | async) === null" (click)="carbon.requestValue()">
                <mat-icon>bluetooth_searching</mat-icon>
                Connect
              </button>
              <button mat-menu-item *ngIf="(carbon.device | async)" (click)="carbon.disconnect()">
                <mat-icon>bluetooth_disabled</mat-icon>
                Disconnect
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle *ngIf="(carbon.device | async) as device">
            {{ device.name }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <ble-carbon #carbon></ble-carbon>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- state-->

    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            State
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menuState" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menuState="matMenu" xPosition="before">
              <button mat-menu-item *ngIf="(state.device | async) === null" (click)="state.requestValue()">
                <mat-icon>bluetooth_searching</mat-icon>
                Connect
              </button>
              <button mat-menu-item *ngIf="(state.device | async)" (click)="state.disconnect()">
                <mat-icon>bluetooth_disabled</mat-icon>
                Disconnect
              </button>
            </mat-menu>
            <mat-icon class="alarm-icon" color="warn" *ngIf="state.isAlert">warning_amber</mat-icon>
          </mat-card-title>
          <mat-card-subtitle *ngIf="(state.device | async) as device">
            {{ device.name }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <ble-state #state></ble-state>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>
